@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}


  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  ::-webkit-scrollbar {
    width: 0.3rem;
    background-color: rgba(243, 110, 9, 0.649);
  }
  
  ::-webkit-scrollbar-thumb {
    width: 0.3rem;
    background-color: rgb(243, 111, 9);
  }
  
  @media screen and (max-width: 450px) {
    body {
      margin: 0rem 0rem;
      width: 100vw;
    }
  }
  